<div class="grid p-fluid mt-3">
    <div class="col-12 md:col-3">
        <span class="p-float-label">
            <input
                type="number"
                id="inputtext1"
                pInputText
                [(ngModel)]="year"
                (ngModelChange)="checkFields()"
            />
            <label for="inputtext1">Year</label>
        </span>
    </div>
    <div class="col-12 md:col-3">
        <span class="p-float-label">
            <p-dropdown [options]="makes" [(ngModel)]="selected_make" optionLabel="make" [showClear]="true" placeholder="Make" (ngModelChange)="checkFields()"></p-dropdown>
            <label for="inputtext2">Make</label>
        </span>
    </div>
    <div class="col-12 md:col-3">
        <span class="p-float-label">
            <input
                type="text"
                id="inputtext2"
                pInputText
                [(ngModel)]="model"
                (ngModelChange)="checkFields()"
            />
            <label for="inputtext2">Model</label>
        </span>
    </div>
    <div class="col-12 md:col-3">
        <span class="p-float-label">
            <input
                type="text"
                id="inputtext2"
                pInputText
                [(ngModel)]="car_name"
            />
            <label for="inputtext2">Car Name</label>
        </span>
    </div>
    <div class="col-12 md:col-3">
        <span class="p-float-label">
            <p-dropdown [options]="transmissions" [(ngModel)]="selected_transmission" optionLabel="type" [showClear]="true" placeholder="Transmission" (ngModelChange)="checkFields()"></p-dropdown>
            <label for="inputtext2">Transmission</label>
        </span>
    </div>
    <div class="col-12 md:col-3">
        <span class="p-float-label">
            <input
                type="text"
                id="inputtext2"
                pInputText
                [(ngModel)]="chassis"
                (ngModelChange)="checkFields()"
            />
            <label for="inputtext2">Chassis</label>
        </span>
    </div>
    <div class="col-12 md:col-3">
        <span class="p-float-label">
            <input
                type="text"
                id="inputtext2"
                pInputText
                [(ngModel)]="engine"
                (ngModelChange)="checkFields()"
            />
            <label for="inputtext2">Engine</label>
        </span>
    </div>
    <div class="col-12 md:col-3">
        <span class="p-float-label">
            <p-dropdown [options]="fuels" [(ngModel)]="selected_fuel" optionLabel="type" [showClear]="true" placeholder="Transmission" (ngModelChange)="checkFields()"></p-dropdown>
            <label for="inputtext2">Fuel</label>
        </span>
    </div>
    <div class="col-12 md:col-3">
        <span class="p-float-label">
            <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="note" placeholder="Note"></textarea>
            <label for="inputtext2">Note</label>
        </span>
    </div>
    <div class="col-12 md:col-12">
        <button pButton pRipple label="Print" class="p-button-success" [disabled]="isBtnDisabled" (click)="onBtnClick()"></button>
    </div>
</div>
